@import "variables";

.form-head {
  background: black;
  padding: 20px;
}

.form-container {
  display: flex;
}

#banner-placeholder, #thumb-placeholder {
  border: 2px dashed $medium-color;
  margin: 0px 20px 20px 20px;
  height: 200px;
}

#banner-placeholder:hover, #thumb-placeholder:hover {
  cursor: pointer;
}

#banner-placeholder {
  width: 100%;
}

#thumb-placeholder {
  width: 200px;
}

.form-add-pages {
  background-color: $heavy-color;
  padding: 20px;
}

.form-add-pages-header {
  display: flex;
  justify-content: space-between;
}

.form-add-pages-header h2, .page-upload {
  white-space: nowrap;
  flex: 0;
}

.page-thumb-container {
  margin-top: 20px;
  overflow-y: scroll;
  max-height: 400px;
  display: flex;
  flex-wrap: wrap;
}

.page-upload {
  border: 2px dashed $medium-color;
  box-sizing: border-box;
  display: inline-block;
}

.page-thumb {
  min-width: 100px;
  flex: 1;
  margin: 5px;
}

.page-thumb:hover, .page-upload:hover {
  cursor: pointer;
}

.page-thumb img {
  width: 100%;
  height: auto;
}

.page-thumb span {
  width: 100%;
  display: block;
  background: $medium-color;
  color: white;
  padding: 4px;
  box-sizing: border-box;
  text-align: center;
}

.page-thumb:hover span {
  background: $light-color;
}

.form-inputs, .form-images {
  background: $light-color;
  min-height: 300px;
  padding: 20px;
}

.form-inputs {
  padding-top: 50px;
  flex: 0;
  white-space: nowrap;
}

.form-images {
  flex: 1;
}

.form-end {
  background: $heavy-color;
  padding: 20px;
}

label.form-element {
  display: block;
  padding: 20px 0px 5px 0px;
}

input.form-element {
  padding: 5px;
}

.form-inputs input[type=submit] {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}

.modal {
  z-index: 10;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.modal-content, .confirm-modal {
  background: $light-color;
  padding: 20px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 17px 4px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 17px 4px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 17px 4px rgba(0,0,0,0.75);
}

.modal-content {
  display: flex;
  position: relative;
  max-height: 90%;
  max-width: 90%;
}

.modal-page {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

.modal-form .form-element {
  display: block;
}

.modal-form input[type="submit"] {
  margin-top: 10px;
}

.confirm-modal {
  width: 300px;
}

.delete-buttons {
  display: flex;
}

.delete-buttons input[type="submit"] {
  padding: 5px 10px;
  margin: 20px 20px 0 0;
}

.delete-buttons input[type="submit"]:hover {
  background: white;
}

#delete {
  background: #991f00;
  color: white;
}

#delete:hover {
  background: #661400;
}

#cancel {
  background: $medium-color;
}

#cancel:hover {
  background: white;
}
