@import "variables";

.form-head {
  background: black;
  padding: 20px;
}

.form-inputs, .form-pages, .form-images {
  background: $light-color;
  min-height: 300px;
  padding: 20px;
}

.form-end {
  background: $heavy-color;
  padding: 20px;
}

.form-element {
  display: block;
  padding: 10px;
}

.form-element span {
  padding-right: 10px;
}
