@import "variables";

.form-head {
  background: black;
  padding: 20px;
}

.form-container {
  display: flex;
}

#banner-placeholder, #thumb-placeholder {
  border: 2px dashed $medium-color;
  margin: 0px 20px 20px 20px;
  height: 200px;
}

#banner-placeholder:hover, #thumb-placeholder:hover {
  cursor: pointer;
}

#banner-placeholder {
  width: 400px;
}

#thumb-placeholder {
  width: 200px;
}

.form-add-pages {
  background-color: $heavy-color;
  overflow-y: scroll;
  max-height: 400px;
  display: flex;
  flex-wrap: wrap;
}

.page-upload {
  min-width: 100px;
  flex: 1;
  height: 100px;
  margin: 5px;
  border: 2px dashed $medium-color;
  box-sizing: border-box;
  display: inline-block;
}

.page-thumb {
  min-width: 100px;
  flex: 1;
  margin: 5px;
}

.page-thumb:hover, .page-upload:hover {
  cursor: pointer;
}

.page-thumb img {
  width: 100%;
  height: auto;
}

.page-thumb span {
  width: 100%;
  display: block;
  background: $medium-color;
  color: white;
  padding: 4px;
  box-sizing: border-box;
  text-align: center;
}

.page-thumb:hover span {
  background: $light-color;
}

.form-inputs, .form-images {
  background: $light-color;
  min-height: 300px;
  padding: 20px;
}

.form-inputs {
  flex: 0;
}

.form-images {
  flex: 1;
}

.form-end {
  background: $heavy-color;
  padding: 20px;
}

label.form-element {
  display: block;
  padding: 20px 0px 5px 0px;
}

input.form-element {
  padding: 5px;
}

.form-inputs input[type=submit] {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}
