@import "variables";

.form-head {
  background: black;
  padding: 20px;
}

.form-container {
  display: flex;
}

#banner-placeholder, #thumb-placeholder {
  border: 2px dashed $medium-color;
  margin: 0px 20px 20px 20px;
  height: 200px;
}

#banner-placeholder:hover, #thumb-placeholder:hover {
  cursor: pointer;
}

#banner-placeholder {
  width: 400px;
}

#thumb-placeholder {
  width: 200px;
}

.form-inputs, .form-images, .form-add-pages {
  background: $light-color;
  min-height: 300px;
  padding: 20px;
}

.form-inputs {
  flex: 0;
}

.form-images {
  flex: 1;
}

.form-end {
  background: $heavy-color;
  padding: 20px;
}

label.form-element {
  display: block;
  padding: 20px 0px 5px 0px;
}

input.form-element {
  padding: 5px;
}

.form-inputs input[type=submit] {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}
