@import "variables";

#header {
  z-index: 2;
  background: $heavy-color;
  left: 0px;
  right: 0px;
  top: 0px;
  position: fixed;
  // -webkit-box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.75);
  // -moz-box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.75);
  // box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.75);
  font-family: 'montserrat', sans-serif;
  font-size: 20px;
  font-weight: 400;
}

#header-top {
  background: $light-color;
  height: 100px;
}

#header-top-inner {
  margin: 0px auto;
  width: $column-width;
  position: relative;
}

#header-content {
  margin: 0 auto;
  width: $column-width;
  display: flex;
  color: $light-color;
}

#logo {
  padding-right: 150px;
  display: block;
  flex: 0;
  position: relative;
}

// TODO: logo-img:hover { content: highlighted img!}

#logo-img {
  position: absolute;
  top: -80px;
  content: url("symbol.png");
  width: auto;
}

#logo-img:hover, #logo-text:hover {
  cursor: pointer;
}

#logo-text {
  z-index: 2;
  width: 299px;
  height: 61px;
  background-size: cover;
  background-image: url('logo.png');
  position: absolute;
  left: 145px;
  bottom: -104px;
}

#login {
  cursor: default;
}

#progress{
  padding: 10px;
  text-align: center;
}

.header-item {
  position: relative;
  display: block;
  flex: 0;
  text-align: right;
  padding: 10px 20px;
  white-space: nowrap;
}

.spacing {
  flex: 1;
}

.header-item:hover, .dropdown-item:hover {
  background: $heaviest-color;
  color: white;
  cursor: pointer;
}

.no-nav {
  color: $heavy-color;
  pointer-events: none;
}

.header-item:hover > .dropdown {
  display: block;
}

.dropdown {
  min-width: 100%;
  display: none;
  position: absolute;
  right: 0;
  top: 100%;
  background: $heaviest-color;
  color: $light-color;
  white-space: nowrap;
  font-family: 'open-sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.dropdown-item {
  display: block;
  padding: 5px 20px;
}

.login-field {
  display: flex;
  justify-content: flex-end;;
  margin: 10px;
}

.login-field span {
  display: inline-block;
  padding: 5px 5px 5px 0px;
}

.button {
  padding: 5px;
}

.button:hover {
  cursor: pointer;
  background: white;
}

.login-error {
  display: block;
  padding: 10px 5px;
}

.text-field {
  border: 1px solid black;
  padding: 5px;
}

.text-field:focus {
  border-color: lightgrey;
}

.field-error {
  margin: 10px;
  color: darkorange;
}

.login-field input[type="submit"] {
  margin-left: 10px;
}

@import 'media_queries';
