@import "variables";

#header {
  z-index: 2;
  left: 0px;
  right: 0px;
  position: fixed;
  background: $heavy-color;
  -webkit-box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.75);
  font-family: 'montserrat', sans-serif;
  font-size: 20px;
  font-weight: 400;
}

#header.top {
  top: 0px;
  -webkit-transition: top .35s;
  transition: top .35s;
}

#header.scrolled {
  top: -100px;
  -webkit-transition: top .25s;
  transition: top .25s;
}

#header-top {
  // background: $light-color;
  background-image: image-url("tile5.png");
  position: relative;
  height: 100px;
}

#header-top-inner {
  margin: 0px auto;
  width: $column-width;
  position: relative;
}

#header-content {
  margin: 0 auto;
  width: $column-width;
  display: flex;
  color: $light-color;
}

#logo {
  z-index: 2;
  width: 299px;
  height: 61px;
  background-size: cover;
  background-image: image-url('logo.png');
  position: absolute;
  bottom: -105px;
}

#logo.top {
  opacity: 1;
}

#logo.scrolled {
  opacity: 0;
  transition-delay: .25s;
  -webkit-transition-delay: .25s;
}

#logo:hover, #bar-logo:hover {
  cursor: pointer;
}

#login {
  cursor: default;
}

#progress{
  padding: 10px;
  text-align: center;
}

#menu-button {
  text-align: left;
}

.header-item, #bar-logo, #tagline {
  position: relative;
  display: block;
  flex: 0;
  text-align: right;
  padding: 10px 20px;
  white-space: nowrap;
}

#bar-logo.top {
  overflow: hidden;
  width: 0px;
  margin: 0px;
  padding: 0px;
}

#bar-logo.scrolled {
  overflow: visible;
  width: 500px;
}

#tagline.top {
  width: 200px;
  padding-left: 10px;
}

#tagline.scrolled {
  overflow: hidden;
  width: 0px;
  margin: 0px;
  padding: 0px;
}

.spacing {
  flex: 1;
}

.header-item:hover, .dropdown-item:hover, #bar-logo:hover {
  background: $heaviest-color;
  color: white;
  cursor: pointer;
}

.no-nav {
  color: $heaviest-color;
  cursor: default;
}

.no-nav:hover {
  color: $heaviest-color;
  cursor: default;
  background: inherit;
}

.header-item:hover > .dropdown {
  display: block;
}

.dropdown {
  min-width: 100%;
  display: none;
  position: absolute;
  right: 0;
  top: 100%;
  background: $heaviest-color;
  color: $light-color;
  white-space: nowrap;
  font-family: 'open-sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

#menu-button .dropdown {
  right: auto;
  left: 0;
}

.dropdown-item {
  display: block;
  padding: 10px 20px;
  font-size: 16px;
}

.login-field {
  display: flex;
  justify-content: flex-end;
  margin: 10px;
}

.login-field span {
  display: inline-block;
  padding: 5px 5px 5px 0px;
}

.button {
  padding: 5px 10px;
}

.button:hover {
  cursor: pointer;
  background: white;
}

.login-error {
  display: block;
  padding: 10px 5px;
}

.text-field {
  border: 1px solid black;
  padding: 5px;
}

.text-field:focus {
  border-color: lightgrey;
}

.field-error {
  margin: -5px 10px 10px 10px;
  color: darkorange;
  font-size: 14px;
  font-style: italic;
}

.login-field input[type="submit"] {
  margin-left: 10px;
}

// #login-button {
//   background: $good-button;
// }
//
// #login-button:hover {
//   background: $good-button-hover;
// }

.login-modal {
  background: $heaviest-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $light-color;
}

.modal #login {
  position: static;
  display: block;
  min-width: 0%;
  right: auto;
  top: auto;
  flex: 0;
}
