@import "variables";


// TODO: fix the header image hitbox!
//       AKA use two images :(
#header {
  z-index: 2;
  background: #534741;
  left: 0px;
  right: 0px;
  top: 0px;
  border-top: 100px solid #C7B299;
  position: fixed;
  // -webkit-box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.75);
  // -moz-box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.75);
  // box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.75);
  font-family: 'montserrat', sans-serif;
  font-size: 20px;
  font-weight: 400;
}

#header-content {
  margin: 0 auto;
  width: $column-width;
  display: flex;
  color: #C7B299;
}

#logo {
  padding-right: 200px;
  width: 150px;
  cursor: pointer;
  display: block;
  flex: 0;
}

#logo-img {
  position: absolute;
  top: -90px;
  content: image-url("logo2.png");
  height: 200px;
  width: auto;
}

#login {
  cursor: default;
}

#progress{
  padding: 10px;
  text-align: center;
}

.header-item {
  position: relative;
  display: block;
  flex: 0;
  text-align: right;
  padding: 10px 20px;
  white-space: nowrap;
}

.spacing {
  flex: 1;
}

.header-item:hover, .dropdown-item:hover {
  background: #504035;
  color: white;
  cursor: pointer;
}

.no-nav {
  color: black;
  pointer-events: none;
}

.header-item:hover > .dropdown {
  display: block;
}

.dropdown {
  min-width: 100%;
  display: none;
  position: absolute;
  right: 0;
  top: 100%;
  background: #504035;
  color: #C7B299;
  white-space: nowrap;
  font-family: 'open-sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.dropdown-item {
  display: block;
  padding: 5px 20px;
}

.login-field {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.login-field span {
  display: inline-block;
  padding: 5px 5px 5px 0px;
}

.button {
  padding: 5px;
}

.button:hover {
  cursor: pointer;
  background-color: white;
}

.login-field input[type=submit] {
  border: 1px solid black;
}

.login-error {
  display: block;
  padding: 10px 5px;
}

.text-field {
  border: 1px solid black;
  padding: 5px;
}

.text-field:focus {
  border-color: lightgrey;
}

.field-error {
  margin: 10px;
  color: darkorange;
}

@import 'media_queries';
