@import "variables";

.index-content {
  width: $column-width;
  margin: 147px auto 60px;
}

.index-content .content {
  background: transparent;
  padding: .5%;
}

.index-content:hover .index-item .title {
  display: block;
}

.index-item-container {
  margin: .5%;
  box-sizing: border-box;
  position: relative;
  vertical-align: top;
  display: inline-block;
  width: 24%;
  -webkit-box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.75);
  box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.75);
}

.index-item-container:nth-child(7n+3),
.index-item-container:nth-child(7n+1),
.index-item-container:nth-child(7n+2) {
  width: 32.33%;
}

// .index-item-container:nth-child(-n+3) {
//   width: 32.33%;
// }

.dummy {
  margin-top: 100%;
}

.index-item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

.index-item img {
  display: block;
  width: 100%;
  height: auto;
}

.index-item .title {
  position: absolute;
  width: 100%;
  bottom: 0px;
  padding: 5px 10px;;
  background: $medium-color;
  box-sizing: border-box;
  display: none;
  text-align: center;
}

.index-item:hover {
  cursor: pointer;
  -webkit-box-shadow: 2px 2px 10px 2px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 10px 2px rgba(0,0,0,0.75);
  box-shadow: 2px 2px 10px 2px rgba(0,0,0,0.75);
}

.index-item:hover .title {
  background: $light-color;
}
