@import "variables";

@media (max-width: 1220px) {
  $column-width: 800px;

  #header-content {
    width: $column-width;
  }
  #header-top-inner {
    width: $column-width;
  }
  .content {
    width: $column-width;
  }
  .index-content {
    width: $column-width;
  }
}

@media (max-width: 820px) {
  $column-width: 400px;

  #header-content {
    width: $column-width;
  }
  #header-top-inner {
    width: $column-width;
  }
  .content {
    width: $column-width;
  }
  .index-content {
    width: $column-width;
  }
}
