@import "variables";

.show-comic {
  display: table;
  width: 1px;
  margin : 0 auto;
}

#page {
  -webkit-box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.75);
  box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.75);
  margin: 20px auto;
}

#page:hover {
  cursor: pointer;
}

#page.last-page:hover {
  cursor: default;
}

.caption {
  width: 100%;
  background: $light-color;
  box-sizing: border-box;
  -webkit-box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.75);
  box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.75);
}

.caption, #page {
  display: table-row;
}

.caption > * {
  margin: 20px;
}
