@import "variables";

#page {
  margin: 20px auto;
  -webkit-box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.75);
  box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.75);
}

#page:hover {
  cursor: pointer;
}

#page.last-page:hover {
  cursor: default;
}

.caption {
  width: 100%;
  padding: 20px;
  background: $light-color;
  box-sizing: border-box;
  -webkit-box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.75);
  box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.75);
}
