@import "variables";

.banner {
  width: 100%;
  height: auto;
}

.page {
  margin: 20px auto;
}

.page:hover {
  cursor: pointer;
}

.page.last-page:hover {
  cursor: default;
}

.caption {
  width: 100%;
  padding: 20px;
  background: $light-color;
  box-sizing: border-box;
}

@import 'media_queries';
