html, body, main, div, h1, ul, li {
  padding: 0;
  margin: 0;
  border:0;

  font: inherit;
  text-decoration: inherit;
  text-align: inherit;

  background: transparent;
}

body {
  background: grey;
  font-family: 'open-sans', sans-serif;
}

ul, li {
  list-style-type: none;
}

input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0px 9999px white;
}

#root {
  padding-top: 50px;
}


// roboto slab, oxygen, rajdhani
