$column-width: 80%;

$light-color: #C7B299;
$medium-color: #998675;
$heavy-color: #534741;
$heaviest-color: #473d38;

// $good-button: darkseagreen;
// $good-button-hover: mediumseagreen;

// $good-button: mediumpurple;
// $good-button-hover: blueviolet;

$good-button: #80b1b3;
$good-button-hover: cadetblue;

$bad-button: #991f00;
$bad-button-hover: #661400;
